.navbar {
  min-height: 75px;
}

.logo-v {
  background-color: @blue-anchors;
  color: @nav-background;
  padding: 0 3px 3px 3px;
  text-decoration: none;
  border-radius: 1px;
}

.navbar-brand {
  padding: 25px 15px;
}

.navbar-brand a {
  font-weight: bold;
  color: @text-gray;
  text-decoration: none;
}

.tap-i18n-buttons .btn {
  background-color: initial;
  font-weight: bold;
  border: 0;
  padding: 25px;
  outline: none;
}

.tap-i18n-buttons .btn-default {
  color: @blue-anchors;
}