<template name="helpMenu">
    <div class="col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-10 col-lg-offset-0 col-lg-3 help-menu">
        <h2>{{_ "help_topics_h1"}}</h2>

        <a href="{{pathFor 'napoveda'}}"><h3>{{_ "help_intro"}}</h3></a>

        <a href=""><h3>{{_ "help_computers"}}</h3></a>
        <ul class="nav nav-pills nav-stacked">
            <li class="{{isActiveRoute 'linux'}}">
                <a href="{{pathFor 'linux'}}">{{_ "help_linux"}}</a>
            </li>
            <li class="{{isActiveRoute 'aplikace'}}">
                <a href="{{pathFor 'aplikace'}}">{{_ "help_apps"}}</a>
            </li>
            <li class="{{isActiveRoute 'sluchatka'}}">
                <a href="{{pathFor 'sluchatka'}}">{{_ "help_headphones"}}</a>
            </li>
            <li class="{{isActiveRoute 'ukladani-dat'}}">
                <a href="{{pathFor 'ukladani-dat'}}">{{_ "help_saving_data"}}</a>
            </li>
            <li class="{{isActiveRoute 'tisk'}}">
                <a href="{{pathFor 'tisk'}}">{{_ "help_print"}}</a>
            </li>
        </ul>


        <a href=""><h3>{{_ "home_dl"}}</h3></a>
        <ul class="nav nav-pills nav-stacked">
            <li class="{{isActiveRoute 'o-digitalni-knihovne'}}">
                <a href="{{pathFor 'o-digitalni-knihovne'}}">{{_ "help_about_dl"}}</a>
            </li>
            <li class="{{isActiveRoute 'jak-hledat'}}">
                <a href="{{pathFor 'jak-hledat'}}">{{_ "help_how_to_search"}}</a>
            </li>
            <li class="{{isActiveRoute 'jak-tisknout'}}">
                <a href="{{pathFor 'jak-tisknout'}}">{{_ "help_how_to_print"}}</a>
            </li>
        </ul>
    </div>
</template>