<template name="mobileStoreBadges">
    <div class="text-center">
    <span>
         <a id="google-play-badge" target="_blank"
            href="https://play.google.com/store/apps/details?id=cz.mzk.kramerius.app&hl=cs&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-AC-global-none-all-co-pr-py-PartBadges-Oct1515-1">
             <img alt="Get it on Google Play" src="https://play.google.com/intl/en_us/badges/images/apps/en-play-badge-border.png"/>
         </a>
        {{> appleAppStore}}
    </span>
    </div>
</template>