body {
  font-size: 17px;
}

h1, h2, h3, h4, h5, h6 {
  color: @mzk-green;
}

.btn-default {
  background-color: @mzk-text-blue;
  border: none;
  &:hover, &:focus {
    background-color: @mzk-text-blue-lighter;
  }
}