ul.dl-list {
  padding-top: 20px;
}

ul.dl-list li.yes {
  background: url('images/checkMark.png') no-repeat left top;
}

ul.dl-list li.no {
  background: url('images/redCross.png') no-repeat left top;
}

ul.dl-list li {
  padding: 0 0 25px 40px;
  list-style: none;
  position: relative;
  right: 40px;
}

p.hint {
  padding-top: 10px;
}

#safe-browser {
  width: 45px;
  margin-left: 15px;
}