<template name="home">

    <div class="row">
        <div class="col-md-offset-1 col-md-2">
            <a href="{{pathFor 'o-digitalni-knihovne'}}">?</a>
            <a href="{{pathFor 'digitalni-knihovna'}}">{{_ "home_dl"}}</a>
        </div>
        <div class="col-md-2">
            <a href="http://www.mzk.cz/">{{_ "home_web_mzk"}}</a>
        </div>
        <div class="col-md-2">
            <a href="https://www.mzk.cz/katalogy-databaze/online-katalogy">{{_ "home_katalog"}}</a>
        </div>
        <div class="col-md-offset-2 col-md-2">
            <a href="{{pathFor 'napoveda'}}">{{_ "home_help"}}</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-1 col-md-2">
            <a href="https://www.mzk.cz/katalogy-databaze/webarchiv">{{_ "home_webarchiv"}}</a>
        </div>
        <div class="col-md-2">
            <a href="https://www.mzk.cz/sluzby/akce">{{_ "home_akce_v_mzk"}}</a>
        </div>
        <div class="col-md-2">
            <a href="https://www.mzk.cz/katalogy-databaze/databaze">{{_ "home_elektronicke_zdroje"}}</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-1 col-md-2">
            <a href="{{pathFor 'jak-tisknout'}}">?</a>
            <a href="">{{_ "home_jak_tisknout"}}</a>
        </div>
        <div class="col-md-2">
            <a href="http://www.staremapy.cz/">{{_ "home_stare_mapy"}}</a>
        </div>
    </div>
</template>