@tile-border-radius: 12px;

.navbar-default {
  background-color: @nav-background;
}

html, body {
  background-color: @body-color;
}

.body-wrapper {
  margin-top: 70px;
}

.tile-text {
  text-align: center;
  text-decoration: none;
  color: @text-gray;
  font-weight: bold;
}

.tile {
  .tile-text;
  display: block;
  background-color: @body-color;
  border: 2px solid @text-gray;
  border-radius: @tile-border-radius;
  margin-bottom: 40px;
  margin-right: 20px;
  width: 175px;
}

.tile:hover {
  background-color: @nav-background;
  color: @text-gray;
  text-decoration: none;
}

.tile-big, .wrapper-dl {
  height: 230px;
}

.tile-small {
  height: 130px;
}

.tile-icon-mixin(@size; @margin) {
  width: @size;
  height: @size;
  margin-top: @margin;
  margin-bottom: @margin;
}

.tile-big-icon {
  .tile-icon-mixin(100px, 30px);
}

.tile-small-icon {
  .tile-icon-mixin(50px, 15px);
}

.tile-big-hint {
  margin: 0;
  height: 210px;
  position: relative;
  left: -50px;
  top: 17px;

  @rotation: -13deg;
  -ms-transform: rotate(@rotation); /* IE 9 */
  -webkit-transform: rotate(@rotation); /* Chrome, Safari, Opera */
  transform: rotate(@rotation);
}

.tile-big-hint:hover {
  background-color: inherit;
}

.tile-dl {
  position: relative;
  left: -15px;
  top: -209px;
}

@media (min-width: @screen-md-min) and (max-width: @screen-lg-min) {
  .wrapper-dl {
    margin-right: 30px;
  }
}

@media (min-width: @screen-xs-min) and (max-width: @screen-md-min) {
  .wrapper-dl {
    width: 195px;
  }
}

@media (max-width: 860px) {
  .tile-big-hint {
    opacity: 0;
  }
}

#circle {
  stroke-width: 2;
  stroke: @text-gray;
  fill: @body-color;
}

#circle-wrapper {
  text-align: left;
}

#circle-text {
  fill: @text-gray;
  font-weight: bold;
}

#circle, #circle-text {
  cursor: pointer;
}

#print-hint {
  position: relative;
  top: -98px;
  z-index: 0;
}

.print-hint-svg {
  top: 35px;
  left: 8px;
  fill: none;
  stroke: @text-gray;
  stroke-width: 2;
}

#print-hint #circle-wrapper {
  position: relative;
  top: -96px;
  left: 21px;
}

#print-tile {
  z-index: 1;
}