<template name="home">
    <div class="row">
        <div class="col-md-offset-1 col-md-2 col-xs-6 wrapper-dl">
            <div class="tile tile-big-hint">
                {{> helpCircle 'o-digitalni-knihovne'}}
            </div>
            <a class="tile tile-big tile-dl" href="{{pathFor 'digitalni-knihovna'}}">
                <img src="images/katalog.png" class="tile-big-icon center-block"/>
                {{_ "home_dl"}}
            </a>
        </div>
        <a class="col-md-2 col-xs-6 tile tile-big" href="http://www.mzk.cz/">
            <img src="images/katalog.png" class="tile-big-icon center-block"/>
            {{_ "home_web_mzk"}}
        </a>
        <a class="col-md-2 col-xs-6 tile tile-big" href="https://www.mzk.cz/katalogy-databaze/online-katalogy">
            <img src="images/katalog.png" class="tile-big-icon center-block"/>
            {{_ "home_katalog"}}
        </a>
        <a class="col-lg-offset-2 col-md-offset-0 col-md-2 col-xs-6 col-sm-offset-0 col-xs-offset-0 tile tile-big"
           href="{{pathFor 'napoveda'}}">
            <img src="images/katalog.png" class="tile-big-icon center-block"/>
            {{_ "home_help"}}
        </a>
    </div>
    <div class="row">
        <a class="col-md-offset-1 col-md-2 col-xs-6 tile tile-small"
           href="https://www.mzk.cz/katalogy-databaze/webarchiv">
            <img src="images/akce.png" class="tile-small-icon center-block"/>
            {{_ "home_webarchiv"}}
        </a>
        <a class="col-md-2 col-xs-6 tile tile-small" href="https://www.mzk.cz/sluzby/akce">
            <img src="images/akce.png" class="tile-small-icon center-block"/>
            {{_ "home_akce_v_mzk"}}
        </a>
        <a class="col-md-2 col-xs-6 tile tile-small" href="https://www.mzk.cz/katalogy-databaze/databaze">
            <img src="images/akce.png" class="tile-small-icon center-block"/>
            {{_ "home_elektronicke_zdroje"}}
        </a>
    </div>
    <div class="row">
        <a id="print-tile" class="col-md-offset-1 col-md-2 col-xs-6 tile tile-small"
           href="http://www.fit.vutbr.cz/~martinek/latex/duplex.html">
            <img src="images/akce.png" class="tile-small-icon center-block"/>
            {{_ "home_jak_tisknout"}}
        </a>
        <a class="col-md-2 col-xs-6 tile tile-small" href="http://www.staremapy.cz/">
            <img src="images/akce.png" class="tile-small-icon center-block"/>
            {{_ "home_stare_mapy"}}
        </a>
    </div>
    <div class="row">
        <div id="print-hint" class="col-md-offset-1 col-md-2 col-xs-6">
            <svg class="print-hint-svg" height="145" viewBox="-10 -10 145 145">
                <path transform="rotate(147 50 40)" width="145"
                      d="M 0 0 L 90 0 C 95 0 100 5 100 10 L 100 64"></path>
            </svg>
            {{> helpCircle 'jak-tisknout'}}
        </div>
    </div>
</template>