<template name="home">
    <div class="row">
        <div class="col-md-offset-1 col-md-2 col-xs-6 wrapper-dl">
            <div class="tile tile-big-hint">
                {{> helpCircle 'digitalni-knihovna-napoveda'}}
            </div>
            <a class="tile tile-big dl-tile" href="{{pathFor 'digitalni-knihovna'}}">
                <div id="dl-image" class="tile-big-image center-block"></div>
                {{_ "home_dl"}}
            </a>
        </div>
        <a id="mzk-tile" class="col-md-2 col-xs-6 tile tile-big" href="http://www.mzk.cz/" target="_blank">
            <div id="mzk-image" class="tile-big-image center-block"></div>
            {{_ "home_web_mzk"}}
        </a>
        <a id="katalog-tile" class="col-md-2 col-xs-6 tile tile-big" href="https://vufind.mzk.cz/" target="_blank">
            <div id="katalog-image" class="tile-big-image center-block"></div>
            {{_ "home_katalog"}}
        </a>
        <a id="napoveda-tile" class="col-lg-offset-2 col-md-offset-0 col-md-2 col-xs-6 col-sm-offset-0 col-xs-offset-0 tile tile-big"
           href="{{pathFor 'napoveda'}}">
            <div id="napoveda-image" class="tile-big-image center-block"></div>
            {{_ "home_help"}}
        </a>
    </div>
    <div class="row">
        <a id="web-archiv-tile" class="col-md-offset-1 col-md-2 col-xs-6 tile tile-small"
           href="http://www.webarchiv.cz/" target="_blank">
            <div id="web-archiv-image" class="tile-small-image center-block"></div>
            {{_ "home_webarchiv"}}
        </a>
        <a id="akce-tile" class="col-md-2 col-xs-6 tile tile-small" href="http://www.mzk.cz/akce" target="_blank">
            <div id="akce-image" class="tile-small-image center-block"></div>
            {{_ "home_akce_v_mzk"}}
        </a>
        <a id="db-tile" class="col-md-2 col-xs-6 tile tile-small" href="https://www.mzk.cz/katalogy-databaze/databaze" target="_blank">
            <div id="db-image" class="tile-small-image center-block"></div>
            {{_ "home_elektronicke_zdroje"}}
        </a>
    </div>
    <div class="row">
        <a id="print-tile" class="col-md-offset-1 col-md-2 col-xs-6 tile tile-small"
           href="http://safeq.mzk.cz" target="_blank">
            <div id="print-image" class="tile-small-image center-block"></div>
            {{_ "home_jak_tisknout"}}
        </a>
        <a id="mapy-tile" class="col-md-2 col-xs-6 tile tile-small" href="http://www.staremapy.cz/" target="_blank">
            <div id="mapy-image" class="tile-small-image center-block"></div>
            {{_ "home_stare_mapy"}}
        </a>
    </div>
    <div class="row">
        <div id="print-hint" class="col-md-offset-1 col-md-2 col-xs-6">
            <svg class="print-hint-svg" height="145" viewBox="-10 -10 145 145">
                <path transform="rotate(147 50 40)" width="145"
                      d="M 0 0 L 90 0 C 95 0 100 5 100 10 L 100 64"></path>
            </svg>
            {{> helpCircle 'tisk'}}
        </div>
    </div>
</template>