#help-page {
  @media (min-width: @screen-lg) {
    @padding: 100px;
    padding-left: @padding;
    padding-right: @padding;
  }

  p {
    margin-bottom: 15px;
  }

  img {
    max-width: 100%;
    display: block;
    margin: 40px auto;
  }

  figure {
    img {
      margin-bottom: 12px;
    }
    figcaption {
      text-align: center;
    }
  }

  #google-play-badge {
    img {
      height: 65px;
    }
  }
}

